@import "./variables.scss";

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 10px;
  background-color: $blue;
  border-radius: 5px;
  border: none;
  &:hover {
    filter: grayscale(50%);
    cursor: pointer;
  }
  &-1 {
    background-color: $group-1-light;
  }
  &-2 {
    background-color: $group-2-light;
  }
  &-3 {
    background-color: $group-3-light;
  }
  &-4 {
    background-color: $group-4-light;
  }
  &-5 {
    background-color: $group-5-light;
  }
  &-6 {
    background-color: $group-6-light;
  }
}

.title {
  padding: 5px 10px;
  background-color: $green;
  border-radius: 5px;
  font-size: 28px;
  text-align: center;
  &-1 {
    background-color: $group-1;
  }
  &-2 {
    background-color: $group-2;
  }
  &-3 {
    background-color: $group-3;
  }
  &-4 {
    background-color: $group-4;
  }
  &-5 {
    background-color: $group-5;
  }
  &-6 {
    background-color: $group-6;
  }
}

.subtitle {
  width: fit-content;
  margin: 0 auto;
  padding: 5px 10px;
  background-color: $light-green;
  border-radius: 5px;
  font-size: 24px;
  &-1 {
    background-color: $group-1-light;
  }
  &-2 {
    background-color: $group-2-light;
  }
  &-3 {
    background-color: $group-3-light;
  }
  &-4 {
    background-color: $group-4-light;
  }
  &-5 {
    background-color: $group-5-light;
  }
  &-6 {
    background-color: $group-6-light;
  }
}

.hidden {
  display: none;
}

@import "./modules/header.scss";
@import "./modules/mainscreen.scss";
@import "./modules/textbook.scss";
@import "./modules/footer.scss";