$light-grey: #DCDCDC;
$grey: #D3D3D3;
$silver: #C0C0C0;
$dark-grey: #696969;

$blue: #b7dceb;
$dark-blue: #146db6;

$light-green: #90EE90;
$green: #00FF7F;

$group-1: #FA8072;
$group-1-light: #fcbbb4;
$group-2: #FF6347;
$group-2-light: #f88672;
$group-3: #f5d72f;
$group-3-light: #f7df5c;
$group-4: #00FF7F;
$group-4-light: #90EE90;
$group-5: #146db6;
$group-5-light: #b7dceb;
$group-6: #c70ec7;
$group-6-light: #c54cc5;

$wrong-red: #e0665d;
$correct-green: #5de07e;